/* index 메뉴 */

#home {
	height: 844px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	/* outline: 2px solid red; */
}

.menu-box {
	width: 300px;
	height: 580px;
	/* outline: 2px solid red; */
	position: relative;
}

.menu-box .row div {
	margin-bottom: 20px;
	width: 300px;
	height: 80px;
	/* outline: 2px solid red; */
}

.menu-box .row div p {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
}


.aboutme {
	background: #1E3799;
}

.aboutme p {
	color: #fff;
	opacity: 0.3;
}

.personal {
	background: #7B7B7B;
}

.personal p {
	color: #fff;
	opacity: 0.3;
}

.finalcut {
	background: #FA983A;
}

.finalcut p {
	color: #000;
	opacity: 0.3;
}

.team {
	background: #6A89CC;
}

.team p {
	color: #fff;
	opacity: 0.3;
}


.adobe {
	background: #E2E2E2;
}

.adobe p {
	color: #000;
	opacity: 0.3;
}

.blog {
	background: #FAD390;
}

.blog p {
	color: #000;
	opacity: 0.3;
}

h1 {
	position: absolute;
	right: 2px;
	bottom: -40px;
	font-weight: 900;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}