/* index 메뉴 */

.container {
	width: 1440px;
	margin: 0 auto;
	/* outline: 2px solid red; */
}

#home {
	height: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	/* outline: 2px solid red; */
}

.menu-box {
	width: 1090px;
	height: 720px;
	/* outline: 2px solid red; */
	position: relative;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row:nth-child(3) {
	margin-top: 20px;
}

.menu-box .row div {
	width: 350px;
	height: 350px;
	/* outline: 2px solid red; */
}

.menu-box .row div p {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 45px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 350px;
}


.aboutme {
	background: #1E3799;
}

.aboutme p {
	color: yellow;
	opacity: 0;
	transition: 0.4s;
}

.aboutme p:hover {
	color: #fff;
	opacity: 1;
}

.personal {
	background: #7B7B7B;
}

.personal p {
	color: yellow;
	opacity: 0;
	transition: 0.4s;
}

.personal p:hover {
	color: #fff;
	opacity: 1;
}

.finalcut {
	background: #FA983A;
}

.finalcut p {
	color: blue;
	opacity: 0;
	transition: 0.4s;
}

.finalcut p:hover {
	color: black;
	opacity: 1;
}

.team {
	background: #6A89CC;
}

.team p {
	color: yellow;
	opacity: 0;
	transition: 0.4s;
}

.team p:hover {
	color: #fff;
	opacity: 1;
}

.adobe {
	background: #E2E2E2;
}

.adobe p {
	color: blue;
	opacity: 0;
	transition: 0.4s;
}

.adobe p:hover {
	color: black;
	opacity: 1;
}


.blog {
	background: #FAD390;
}

.blog p {
	color: blue;
	opacity: 0;
	transition: 0.4s;
}

.blog p:hover {
	color: black;
	opacity: 1;
}

h1 {
	position: absolute;
	right: 2px;
	bottom: -60px;
	font-weight: 900;
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
}