header {
	position: fixed;
	/* background: #ccc; */
	width: 100vw;
	padding: 20px;
	text-align: center;
	z-index: 999;
}

header a {
	text-decoration: none;
	color: #000;
	margin-left: 1em;
	margin-right: 1em;
}

#menu {
	display: flex;
	justify-content: center;
}

#menu li a:hover {
	color: blue;
}


.section {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	background: #FA983A;
}

#title h1 {
	font-size: 100px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 130px;
}

#title h1 span {
	font-size: 70px;
}

.home-btn {
	width: 60px;
	height: 60px;
	background: #fff;
	position: fixed;
	right: 120px;
	bottom: 60px;
	z-index: 99;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#git-btn {
	position: absolute;
	width: 260px;
	height: 73px;
	border: 2px solid #000000;
	border-radius: 50px;

	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Introduce 영역 */

.notion-box {
	position: relative;
	margin: 0 auto;
	height: 100vh;
	width: 1440px;
}

/* .notion {
	position: absolute;
	top: 182px;
	left: 178px;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
} */

.blog-imac {
	position: absolute;
	top: 152px;
	left: 160px;
}

.notion-box p {
	position: absolute;
	width: 380px;
	left: 900px;
	top: 327px;

	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
}

.git-btn1 {
	position: absolute;
	left: 900px;
	top: 784px;
}

.notion-box {
	display: flex;
	justify-content: center;
	align-items: center;
}