header {
	position: fixed;
	/* background: #ccc; */
	width: 390px;
	padding: 20px;
	text-align: center;
	z-index: 999;
}

header a {
	text-decoration: none;
	color: #fff;
	margin-left: 1em;
	margin-right: 1em;
}

#menu {
	display: none
}

/* #menu li a:hover {
	color: #FFFF00;
} */


.section {
	width: 390px;
	height: 844px;
	color: #fff;
	background: #7B7B7B;
}

#title h1 {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 35px;
}

#title h1 span {
	font-size: 24px;
}

.home-btn {
	width: 60px;
	height: 60px;
	background: #fff;
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 99;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#git-btn {
	position: absolute;
	width: 260px;
	height: 73px;
	border: 2px solid #FFFFFF;
	border-radius: 50px;

	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Introduce 영역 */

.introduce-box {
	position: relative;
	margin: 0 auto;
	height: 844px;
	width: 390px;
}

.introduce {
	position: absolute;
	top: 73px;
	left: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.i-imac {
	position: absolute;
	width: 300px;
	top: 87px;
	left: 45px;
}

.introduce-box p {
	position: absolute;
	width: 330px;
	left: 30px;
	top: 441px;

	font-family: 'Noto Sans';
	font-size: 14px;
	line-height: 20px;
}

.git-btn1 {
	position: absolute;
	left: 65px;
	top: 667px;
}


/* sitemap 영역 */

.draft-box {
	position: relative;
	margin: 0 auto;
	height: 2532px;
	width: 390px;
}

.p-draft {
	position: absolute;
	top: 70px;
	left: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.finish {
	position: absolute;
	top: 1215px;
	left: 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.p-draft-img {
	position: absolute;
	width: 330px;
	left: 30px;
	top: 173px;
}

.finish-img {
	position: absolute;
	width: 330px;
	left: 30px;
	top: 1282px;
}


/* chrome-clone 영역 */

#chrome-clone {
	position: relative;
	margin: 0 auto;
	height: 844px;
}

#chrome-clone h1 {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 35px;
}

#chrome-clone h1 span {
	font-size: 24px;
}



/* Introduce 영역 */

.introduce-c-box {
	position: relative;
	margin: 0 auto;
	height: 844px;
	width: 390px;
}

.introduce-c {
	position: absolute;
	left: 30px;
	top: 40px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

.c-imac {
	position: absolute;
	width: 300px;
	left: 45px;
	top: 50px;
}


.introduce-c-box p {
	position: absolute;
	width: 330px;
	left: 30px;
	top: 390px;
	font-family: 'Noto Sans';
	font-size: 14px;
}

.git-btn2 {
	position: absolute;
	left: 65px;
	top: 640px;
}